<div class="footer">
  <div class="oc">
    <div>
      <!-- <div class="about-logo">

      </div> -->
      <div class="footer-menu">
        <div class="footer-menu-container">
          <ul id="menu-footer-menu" class="nav">
            <li class="list-item">
              <a href="https://99percentinvisible.org/episodes/">Episodes</a>
            </li>
            <li class="list-item">
                <a href="https://99percentinvisible.org/articles/">Articles</a>
              </li>
              <li class="list-item">
                  <a href="https://99percentinvisible.org/episodes/">About</a>
              </li>
              <li class="list-item">
                  <a href="https://99percentinvisible.org/episodes/">Donate</a>
              </li>
              <li class="list-item">
                  <a href="https://99percentinvisible.org/episodes/">Store</a>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
