<div class="post">
  <div class="post-content">
    <a href="" class="img-card">
      <div class="inner-text">
        <h4 class="post-label">Episode 337</h4>
        <h3 class="post-title">{{selectedEpisode.title}}</h3>
      </div>
    </a>
    <div class="post-metabox">
      <div class="post-date">
        <p class="meta-label">Date</p>
        <p>01.15.19</p>
      </div>
      <a class="post-category" href="">
        <p class="meta-label">Category</p>
      </a>
      <div class="post-actions">
        <ul class="action-row">
          <li class="post-block">P</li>
          <li class="post-block2">P</li>
        </ul>
      </div>
    </div>
  </div>
</div>
