.post {
  width: 336px;
  margin-bottom: 40px;
}

.post-content {
  position: relative;
}

.img-card {
color: #231f20;
background-size: cover;
background-position-x: 50%;
background-position-y: 50%;
width: 100%;
height: 280px;
position: relative;
display: flex;
align-items: flex-end;
justify-content: center;
background-image: url('./../../assets/img/post-img.jpg');
}

.inner-text {
  width: 80%;
}

.post-label {
  margin-left: 15px;
  color: #231f20;
  background-color: #ffd300;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .05em;
  padding: 4px 10px;
  position: relative;
  display: inline-block;
  margin-top: .75em;
  line-height: 1.2;
}

.post-title {
  width: 100%;
  font-size: 18px;
  background-color: hsla(0,0%,100%,.9);
  margin-bottom: 0px;
  margin-top: -10px;
  padding: 18px 14px 8px;
}

.post-metabox {
  width: 78%;
  position: relative;
  margin: -1px auto 0;
  border-top: 1px solid #231f20;
}

.post-date {
  border-right: 1px solid #231f20;
  display: inline-block;
  padding: 6px 8px 6px 6px;
}

.meta-label {
  letter-spacing: .05em;
  font-size: 6.5px;
  text-transform: uppercase;
  margin-bottom: 3px;
  line-height: 1;
  font-weight: 700;
}
