<div class="header">
</div>
<div class="search-bar">
  <img id="logo" src="./../assets/img/logo.png">
  <div class="search-bar-form">
    <input id="search" [(ngModel)]="searchText" placeholder="search">
    <button (click)="search">Search</button>

  </div>
</div>
<div class="links">
  <ul id="menu">
    <li class="menu-item">
      <a href="https://99percentinvisible.org/episodes/">EPISODES</a>
    </li>
    <li class="menu-item">
      <a href="https://99percentinvisible.org/articles/"> ARTICLES</a>
    </li>
    <li class="menu-item">
      <a href="https://99percentinvisible.org/about/the-show/">ABOUT</a>
    </li>
    <li class="menu-item">
      <a href="https://us.commitchange.com/nonprofits/4341/donate?designation=99%25%20Invisible">DONATE</a>
    </li>
    <li class="menu-item">
      <a href="https://us.commitchange.com/nonprofits/4341/donate?designation=99%25%20Invisible">SUBSCRIBE</a>
    </li>
  </ul>

</div>
