<div class="header">
</div>
<div class="search-bar">
  <img id="logo" src="./../assets/img/logo.png">
  <input [(ngModel)]="searchText" placeholder="search">
  <button (click)="search">Search</button>
  <!-- <img id="facebook" src="./../assets/img/twitter-small.png"> -->

</div>
<div class="links">
  <ul id="menu">
    <li class="menu-item">EPISODES</li>
    <li class="menu-item">ARTICLES</li>
    <li class="menu-item">ABOUT</li>
    <li class="menu-item">DONATE</li>
    <li class="menu-item">SUBSCRIBE</li>
  </ul>

</div>
