<div class="featured">
  <div class="post">
    <div class="post-content">
      <a class="post-header" href="/">
        <h4 class="post-label">Episode 338</h4>
        <h2 class="post-title">Crude Habitat</h2>
      </a>
      <div class="post-actions">

      </div>
      <p class="post-excerpt">
          Santa Barbara, California, is a famously beautiful place, but if you look offshore from one of the city’s many beaches, you’ll see a series... </p>
    </div>
    <div class="post-image">
      <img src="./../assets/img/sample.jpg">
    </div>
  </div>
</div>
