.featured {
  display: block;
  background-color: white;
  width: 720px;
  height: 348px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
}
.post {
   display: flex;
   position: relative;
   padding-top: 68px;
}
.post-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
  margin-right: -75px;
  margin-bottom: 20px;
  margin-left: 0px;
  flex: 1;
  position: relative;
  z-index: 1;
}

.post-label {
  padding: 4px 30px;
  color: #fff;
  background-color: #231f20;
  margin-top: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin-bottom: 0;
  position: relative;
  display: inline-block;
}

.post-title {
  font-size: 1.875em;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-top: -10px;
  margin-right: -40px;
  margin-bottom: 0px;
  margin-left: 0px;
  /* transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  transition-delay: 0s; */
  background-color: #ffd300;
  width: 100%;
  text-decoration: none;
  color: black;
}

.post-actions {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}

.post-excerpt {
  margin-top: 0px;
  margin-right: 90px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 20px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 26px;
  font-size: .875em;
  line-height: 2;
  width: 150px;
  background-color: white;

}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.post-image {
  max-width: 728px;
  width: 100%;
  min-height: 300px;
  background-size: cover;
  position: relative

}

a {
  text-decoration: none;
}
